*{
    font-family: var(--fuenteTipografico);
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--grisClaro);
}
.titulares{
    font-size: var(--titulares);
    color: var(--grisOscuro);
}
.precios{
    font-size: var(--precios);
    color: var(--grisOscuro);
    margin: 8px 0 0;
}
.descuentos{
    font-size: var(--descuentos);
    color: var(--grisOscuro);
    margin: 5px 0 0;
}

